:root {
  --raleway: 'Raleway', sans-serif;
  --opensans: 'Open Sans', sans-serif; }

html {
  font-family: var(--raleway); }

@media (min-width: 1200px) {
  .container {
    max-width: 1160px; } }

.top-bar {
  background-color: #666;
  height: 30px;
  color: #bbb;
  font-size: 0.9rem; }

header h1 {
  font-size: 3.125rem;
  color: #5e5e5e; }

header h2 {
  color: #5e5e5e; }

h2 {
  color: #5e5e5e;
  font-weight: 300; }

header .green-marquee {
  font-size: 4.2rem;
  background: linear-gradient(to right, #feb300 0%, #ff3400 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.buttons .btn {
  min-height: 5.3125rem;
  max-width: 25rem;
  white-space: normal; }

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.companies {
  background: linear-gradient(to bottom, #236bd1 0, #236bd1 50%, #d3e1f5 50%, #d3e1f5 100%); }

.companies h2 {
  color: white; }

.card {
  margin: 10px;
  max-width: 266px; }

.carousel-item {
  height: 450px; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

.carousel-caption {
  color: white; }

.carousel-image-1 {
  background: #333; }

.carousel-image-2 {
  background: #333; }

.carousel-image-3 {
  background: #333; }

.btn-primary {
  background-color: #ff6700;
  border: none; }

.btn-primary:hover {
  background-color: #ff6733;
  border: none; }

.btn-success {
  background-color: #feb300;
  border: none; }

.btn-success:hover {
  background-color: #feb200;
  border: none; }

/* FOOTER */
.footer__navs {
  background-color: #f7f7f7;
  padding: 50px 0; }

.footer__navs .container {
  display: block;
  width: 94%;
  max-width: 1200px;
  padding: 0;
  overflow: hidden; }

.footer__navs .container .footer-column {
  display: block;
  float: left; }

.footer__navs .container .footer-column ul {
  list-style-type: none;
  width: 80%;
  margin: 0;
  padding: 0; }

.footer__navs .container .footer-column ul > li {
  list-style-type: none;
  line-height: 1.3em;
  font-size: 0.9rem;
  margin: 0 0 1em;
  padding: 0; }

.footer__navs .container .footer-column ul > li a,
.footer__navs .container .footer-column ul > li a:first-child,
.footer__navs .container .footer-column ul > li a:link {
  text-decoration: none;
  cursor: pointer;
  color: grey; }

.footer__navs .container .footer-column ul > li a:first-child:hover,
.footer__navs .container .footer-column ul > li a:hover,
.footer__navs .container .footer-column ul > li a:link:hover {
  text-decoration: underline; }

.footer__navs .container .footer-column ul > li:last-child {
  margin-bottom: 0; }

@media only screen and (max-width: 440px) {
  .footer__navs .container .footer-column ul > li:first-child a {
    color: #2b2b2b; }
  .footer__navs .container .footer-column ul > li:first-child a:hover {
    text-decoration: none; }
  .footer__navs .container .footer-column ul > li:nth-child(2) {
    display: none; } }

.footer__navs .container .footer-column ul.social-buttons {
  width: 100%;
  margin-top: 25px; }

.footer__navs
.container
.footer-column
ul.social-buttons
.social-buttons__item {
  display: inline-block;
  margin: 0; }

.footer__navs
.container
.footer-column
ul.social-buttons
.social-buttons__item
a:hover {
  color: #fff;
  text-decoration: none; }

@media only screen and (max-width: 750px) {
  .footer__navs .container .footer-column {
    padding-left: 5%; } }

.footer__navs .container .footer-column:nth-child(1) {
  width: 23%; }

@media only screen and (max-width: 750px) {
  .footer__navs .container .footer-column:nth-child(1) {
    width: 50%;
    margin-bottom: 36px; } }

@media only screen and (max-width: 440px) {
  .footer__navs .container .footer-column {
    padding-left: 0; }
  .footer__navs .container .footer-column:nth-child(1) {
    width: 100%;
    display: none; } }

.footer__navs .container .footer-column:nth-child(2) {
  width: 25%; }

@media only screen and (max-width: 750px) {
  .footer__navs .container .footer-column:nth-child(2) {
    width: 50%;
    margin-bottom: 36px; } }

@media only screen and (max-width: 440px) {
  .footer__navs .container .footer-column:nth-child(2) {
    width: 100%;
    display: none; } }

.footer__navs .container .footer-column:nth-child(3) {
  width: 29%; }

@media only screen and (max-width: 750px) {
  .footer__navs .container .footer-column:nth-child(3) {
    width: 50%; } }

@media only screen and (max-width: 440px) {
  .footer__navs .container .footer-column:nth-child(3) {
    width: 100%;
    margin-bottom: 36px;
    display: none; } }

.footer__navs .container .footer-column:nth-child(4) {
  width: 23%; }

@media only screen and (max-width: 750px) {
  .footer__navs .container .footer-column:nth-child(4) {
    width: 50%; } }

@media only screen and (max-width: 440px) {
  .footer__navs .container .footer-column:nth-child(4) {
    width: 100%;
    text-align: center; }
  .footer__navs .container .footer-column:nth-child(4) > ul {
    width: 100%; } }

.single-webinar .footer__navs {
  width: 0;
  height: 0;
  display: none; }

.footer-callout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }

@media (max-width: 719.9px) {
  .footer-callout {
    -ms-flex-direction: column;
    flex-direction: column; } }

.footer-callout__image {
  display: none; }

.footer-callout__heading {
  margin-bottom: 0.2rem;
  text-align: center; }

@media (min-width: 720px) {
  .footer-callout__image {
    display: block;
    -ms-flex: 0 0 14rem;
    flex: 0 0 14rem; }
  .footer-callout__image img {
    top: -6rem;
    position: absolute;
    width: 14rem;
    height: auto; }
  .footer-callout__heading {
    text-align: left; } }

.footer-callout__text {
  margin-bottom: 1.5rem;
  text-align: center; }

.footer-callout__btn,
.footer-callout__btn:active,
.footer-callout__btn:focus,
.footer-callout__btn:hover {
  color: #68bc45; }

.footer__info,
.footer__info small {
  font-size: 0.85rem; }

.faq__question:active,
.faq__question:focus,
.faq__question:hover {
  color: #5e5e5e;
  text-decoration: none;
  background: #f4f4f4; }

.footer__info {
  position: relative;
  padding-bottom: 3rem;
  min-height: 210px;
  background: #5e5e5e;
  text-align: center;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__info .container {
  width: 100%;
  padding-top: 30px; }

.footer__info a {
  color: #e2e2e2; }

.footer__info a:active,
.footer__info a:focus,
.footer__info a:hover {
  color: #fff; }

.footer__info-actions,
.footer__info-text {
  margin: 0 1.5rem; }

@media (min-width: 960px) {
  .footer__info .footer__info-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__info-actions,
  .footer__info-text {
    margin: 0; } }

.footer__info .divider {
  margin: 0 0.2rem; }

.footer__info-text .divider {
  display: none; }

.footer__info-text .phone {
  display: block; }

.footer__info-text address {
  margin: 0 0 0.5rem; }

.footer__info-text small {
  color: #a6a6a6; }

.footer__info-actions {
  margin: 1rem 0; }

@media (min-width: 960px) {
  .footer__info-text {
    text-align: left; }
  .footer__info-text .divider,
  .footer__info-text .phone,
  .footer__info-text address {
    display: inline; }
  .footer__info-text address br {
    display: none; }
  .footer__info-text small {
    display: block; }
  .footer__info-actions {
    text-align: right; } }

.social-buttons {
  margin: 0;
  padding: 0;
  list-style: none; }

.social-buttons__item {
  display: inline-block;
  margin-left: 0.4rem; }

.social-buttons__item:first-child {
  margin-left: 0; }

.social-buttons__link {
  width: 2.1rem;
  height: 2.1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  color: grey;
  font-size: 1.2rem; }

.social-buttons__link:active,
.social-buttons__link:focus,
.social-buttons__link:hover {
  border-color: #68bc45;
  background: #68bc45;
  color: #fff;
  text-decoration: none; }

.social-icon__list {
  margin: 0.2rem 0;
  padding: 0;
  list-style: none; }

.social-icon__list-item {
  display: inline-block;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 0.2rem;
  -ms-flex-align: center;
  align-items: center; }

.social-icon__list-item:first-child {
  margin-left: 0; }

.social-icon__link {
  color: #b2b2b2;
  font-size: 1.2rem;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem;
  -ms-flex-align: center;
  align-items: center; }

.social-icon__link:hover {
  text-decoration: none; }
